{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>Update your Post</h1>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}
            {% for form in forms %}
            <div class="form-group">
                <b>
                    {{form.label}}
                </b>
                {{form}}
                <br><br>
            </div>
            {% endfor %}
        <br>
        <a href="{% url 'news:post' data.slug %}" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-success">
            Post
        </button>
    </form>
    <br><br><br>
{% endblock content %}